* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
body {
  background-color: #282a2d;
}
.header-container {
  width: 100vw;
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
}
.header-container .logo {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #fff;
}
.header-container .menu {
  flex: 1;
  max-width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-container .menu ul {
  display: flex;
}
.header-container .menu a {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px;
  font-weight: normal;
  border-bottom: 6px solid transparent;
}
@keyframes showborder {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.header-container .menu a:hover {
  border-bottom: 6px solid #fff;
  transition: border-bottom 0.3s ease-in-out;
}
main {
  padding-top: 10px;
  padding-bottom: 10px;
}
.section-content {
  width: 100vw;
  max-width: 1400px;
  /* overflow: hidden; */
  margin: auto;
  height: 300px;
  background-color: #222;
  padding-top: 10px;
  padding-bottom: 10px;
}
@keyframes showSliders {
  from {
    transform: translate3d(-30px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.arrows {
  position: relative;
  z-index: 999;
  margin-top: -300px;
  height: 300px;
  padding: 0px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrows .arrow {
  background-color: #222;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  margin: 0px 5px;
  border: 1px solid #fff;
}
.section-content:hover .arrows {
  display: flex;
}
.arrows .arrow:hover {
  background-color: #fff;
  color: #222;
  transition: background 0.3s ease-in-out;
}
.sliders {
  width: 1000vw;
  height: 100%;
  display: flex;
  overflow: hidden;
  /* background-color: #; */
  color: #fff;
  /* margin-left: -100vw; */
}
.sliders.active {
  animation: showSliders 0.3s forwards;
  transition: 0.3s ease;
}
.sliders .slide {
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  /* overflow-y: hidden; */
}
.section-home {
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: green; */
}
.home-container {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100vw;
  background-color: #282a2d;
  /* background-color: #eee; */
  margin: auto;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.home-info {
  width: 400px;
  border-left: 5px solid #222;
  height: 300px;
  border-radius: 4px;
  opacity: 0;
  background-color: #0e0f12;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-info img {
  animation: showP 0.7s forwards;
  width: 60%;
  border-radius: 4px;
}
.home-info-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes showP {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.home-info-hover p {
  color: #fff;
  display: none;
  text-transform: uppercase;
}
.home-info:hover .home-info-hover {
  display: flex;
  transition: flex 0.3s ease-in-out;
}

.home-info:hover .home-info-hover p {
  animation: showP 0.6s forwards;
  display: block;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}
footer p {
  color: #ccc;
  font-weight: normal;
  font-size: 14px;
}
@keyframes home-title {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.home-info.active {
  animation: home-title 0.3s forwards;
}
.home-info .title {
  padding: 10px;
  text-align: center;
  font-size: 28px;
  color: #fff;
  display: none;
}
.home-info .title.active {
  animation: home-title 0.6s forwards;
  display: block;
}

.menuburguer {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  cursor: pointer;
}
.line-burguer {
  width: 100%;
  height: 8px;
  background-color: aliceblue;
  border: 1px solid #222;
}

@keyframes showMenuMobile {
  from {
    margin-right: -1000px;
    /* margin-right: -1000px; */
  }
  to {
    margin-right: 0;
  }
}
.section-projetos {
  /* background-color: red; */
}
.section-projetos .projetos-container {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1400px;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
.projetos-box {
  width: 300px;
  height: 200px;
  background-color: #222;
  border: 3px dashed #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.projetos-box a {
  display: inline-block;
  padding: 10px 20px;
  background-color: green;
  cursor: pointer;
  color: #ccc;
  border-radius: 4px;
}
.contact-container {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100vw;
  max-width: 1400px;
  background-color: #282a2d;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.section-sliders {
  max-width: 1100px;
  overflow: hidden;
  height: 280px;
  margin: auto;
  background-color: red;
  border-radius: 12px;
}
.contact-info {
  padding: 3px;
  width: 250px;
  height: 150px;
  padding: 6px;
  border-radius: 4px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  /* opacity: 0; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.contact-info dt {
  text-align: center;
  cursor: pointer;
  color: #fff;
  padding: 6px;
  font-size: 15px;
  font-weight: normal;
  border-radius: 4px;
  display: inline-block;
  background-color: rgb(49, 196, 49);
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-info dt::after {
  content: " ⤦";
}
.contact-info dd {
  background-color: #222;
  border-radius: 20px;
  color: #ccc;
  opacity: 0;
  border: 1px solid #ccc;
  text-align: center;
  transform: translate3d(0, -20px, 0);
}
.contact-info dt.active::after {
  content: " ⤤";
}
.contact-info dd.active {
  opacity: 1;
  padding: 6px 10px;
  transform: translate3d(0, 0, 0);
  transition: 0.3s;
}
@media (max-width: 450px) {
  .header-container .logo {
    font-size: 33px;
    width: 190px;
    margin-left: 10px;
  }
  .menu nav {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 100px;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: none;
    margin-right: -1000px;
  }
  .menu nav.active {
    animation: showMenuMobile 1s forwards;
    display: flex;
  }
  .menu ul {
    /* background-color: yellow; */
    height: 100%;
    flex-direction: column;
    align-items: self-start;
    padding-top: 20px;
  }
  .menu li {
    /* background-color: blue; */
  }
  .header-container .menu a {
    border-bottom: 0;
    display: flex;
    height: 120px;
    font-size: 33px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  .menuburguer {
    display: flex;
    cursor: pointer;
  }
  .arrows {
    padding-right: 20px;
    padding-left: 20px;
  }
  .home-info {
    width: 300px;
    height: 250px;
  }
}
